* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.background-image-container {
  min-width: 100vw;
  display: grid;
  grid-template-rows: 12% 68%;
}

.background-image-container img {
  width: 100%;
}

.map {
  background-color: aqua;
}
